<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style/index.css">
    <!-- 
        
     -->
    <title>FastGov.</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">FastGov.</a>

        <nav class="navbar">
            <a href="#" class="active">Home</a>
            <a href="about.html" class="">About</a>
            <a href="tours.html" class="">Our Servises</a>
            <a href="#contacts" class="">Contacts</a>
        </nav>

        <a href="#" class="btn" id="openModalBtn">Sign Up</a>

    </header>

    <section class="home">
        <div class="home-content">
            <h1>Все</h1>
            <h1>Для</h1>
            <h1>Удобства</h1>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec justo non ante accumsan feugiat. Integer nec metus et lorem condimentum cursus. Nam nec convallis eros. In sit amet venenatis nisi. Cras nec ligula non magna fermentum bibendum.
            </p>
            <div class="btn-box">
                <a href="register.html" class="btn">Get Started</a>
                <a href="#" class="btn">Learn More</a>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="content-box">
            <h1>Lorem</h1>
            <h1>dolor sit</h1>
            <h1>consectetur</h1>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec justo non ante accumsan feugiat. Integer nec metus et lorem condimentum cursus. Nam nec convallis eros. In sit amet venenatis nisi. Cras nec ligula non magna fermentum bibendum.</p>
            <a href="#" class="btn">Telegram</a>
        </div>
        
        
    </section>
    <section class="lower-content1">
        <center>
            <h1>Lorem dolor sit consectetur</h1>
        </center>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec justo non ante accumsan feugiat. Integer nec metus et lorem condimentum cursus. Nam nec convallis eros. In sit amet venenatis nisi. Cras nec ligula non magna fermentum bibendum.</p>
    </section>
    <section class="lower-content">
        <div class="second-content-box">
            <div class="first-block">
                <img src="B:/VS CODE/Магазин/src/icons/heart.svg" alt="" class="icons-block">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec justo non ante accumsan feugiat. Integer nec metus et lorem condimentum cursus. Nam nec convallis eros. In sit amet venenatis nisi. Cras nec ligula non magna fermentum bibendum.</p>
            </div>
            <div class="second-block">
                <img src="B:/VS CODE/Магазин/src/icons/home.svg" alt="" class="icons-block">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec justo non ante accumsan feugiat. Integer nec metus et lorem condimentum cursus. Nam nec convallis eros. In sit amet venenatis nisi. Cras nec ligula non magna fermentum bibendum.</p>
            </div>
            <div class="third-block">
                <img src="B:/VS CODE/Магазин/src/icons/world.svg" alt="" class="icons-block">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec justo non ante accumsan feugiat. Integer nec metus et lorem condimentum cursus. Nam nec convallis eros. In sit amet venenatis nisi. Cras nec ligula non magna fermentum bibendum.</p>
            </div>
    </section>
    <footer class="footer" id = "contacts">
        <div class="sections">
            <h5>FOR CLIENTS</h5>
            <li>
                <a href="about.html">About Us</a>
            </li>
            <li>
                <a href="">Service Forms</a>
            </li>
            <li>
                <a href="tours.html">Our Tours</a>
            </li>
        </div>
        <div class="sections">
            <h5>FOR BUSINESS</h5>
            <li>
                <a href="login.html">Log In</a>
            </li>
            <li>
                <a href="">Make a Donation</a>
            </li>
            <li>
                <a href="tel:+77767301903">Phone Number</a>
            </li>
        </div>
        <div class="sections">
            <h5>SOCIALS</h5>
            <div class="socials">
                <a target="_blank" href="https://www.instagram.com/mkhmtlzhs/"><img src="B:/VS CODE/Магазин/src/icons/Instagram.svg" alt="Instagram"></a>
                <a target="_blank" href="https://www.linkedin.com/in/olzhas-makhmet-6793332a7?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><img src="B:/VS CODE/Магазин/src/icons/LinkedIn.svg" alt="LinkedIn"></a>
                <a target="_blank" href="https://t.me/mkhmtcore"><img src="B:/VS CODE/Магазин/src/icons/Telegram.svg" alt="Telegram"></a>
                <a target="_blank" href="https://github.com/mkhmtolzhas"><img src="B:/VS CODE/Магазин/src/icons/GitHub.svg" alt="GitHub"></a>
            </div>
        </div>
    </footer>

    <div id="myModal" class="modal">
        <!-- <span class="close">&times;</span> -->
        <div class="modal-content" id="close-login">
            <div class="form-box">
                <div class="form-value">
                    <form action="">
                        <h2>Login</h2>
                        <div class="inputbox" method="post" action="http://127.0.0.1:8000/auth/jwt/login" enctype="application/json">
                            <ion-icon name="mail-outline"></ion-icon>
                            <input type="text" id="email" name="email" required>
                            <label for="email" >Email</label>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <input type="password" id="password" name="password" required>
                            <label for="password">Password</label>
                        </div>
                        <!-- <div class="forget">
                            <label for=""><input type="checkbox">Remember Me</label>
                        </div> -->
                        <button type="submit">Log In</button>
                        <div class="register">
                            <p>Don't have an account? <a href="register.html">Register</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="./scripts/modal.js"></script>
    <script src="./scripts/scroll.js"></script>
</body>
</html>